body{

    display: flex;
    flex-flow: column;
    align-items: center;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#formulario {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}
.contenedorPregunta {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
       display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; 
    align-items: start;
}
.pregunta {
    margin-bottom: 1rem;
    font-weight: bold;
}
.respuesta {
 
}
